body {
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    margin-top: 150px;
    margin-left: 550px;
    padding: 1em;
    text-align: center;
}

main{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19em;
    width: 22em;
}

h1{
    color: black;
    font-size: 2em;
    margin-bottom: 0.5em;
}

#enviar {
    background-color: rgb(72, 255, 0);
    color: white;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

label {
    color: black;
    font-size: 1.2em;
    margin-top: 1em;
}

main {
    background-color: rgb(36, 230, 123));
}